* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

body {
    background-image: linear-gradient(120deg, #5d8ce2, #71ccd8, #658bbd);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Popins', sans-serif;
    min-height: 100vh;
}

header {font-size: 1.5rem; margin: 40px 0 20px 0;}

header, form, .resultOpt-btn {
    /* min-height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    margin: 0;
}

.ex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
}
.err {
    color: red;
}
/* form input {
    width: 600px;
} */

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background: #d88771;
}

/* Common Class */
.disapear {
    display: none;
}

/* Timer */
.timer4s {
    transition: all 4s ease;
    opacity: 0;
}

/* animations */
.animate1 {
    transform: translateX(10rem);;
}

/* Styling Select Tag */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.div-opt {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: rgb(76, 96, 117);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.div-opt::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none ;
    transition: all 0.3s ease;
}
.div-opt:hover::after {
    background: #f64514;
    color: rgb(255, 255, 255);
}

/* Main result container */
.err {color: red;}
.info {color: rgb(144, 247, 247);}
.susupercon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.supercon {width: 70%;}
.fs-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 40vh;
    background-color: lightgray;
}
.result-table {
    background-color: white;
}
/* Subneting  Table Styling */
.result table {
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
.result table tr th {
    padding: 7px 25px 7px 25px;
    border: solid 2px black;
}
.tfields {
    border: solid 2px black;
    padding: 4px 7px 4px 7px;
}
.td-allocated {
    border: solid 2px black;
    padding: 4px 7px 4px 7px;
    text-align: left;
}
.pr-blue {
    color: rgb(70, 70, 252);
}
.gr {
    color: rgb(0, 255, 8);
}

#resultOpt {
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
}
.simpleOpt {
    color: black;
    background-color: lightgreen;
}
.advanceOpt {
    color: black;
    background-color: lightskyblue;
}
.simpleOpt:active {
    color: black;
    background-color: rgb(59, 232, 59);
}
.advanceOpt:active {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 150, 217);
}

/* Unused? */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
}
.todo li {
    flex: 1;
}
.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: rgb(59, 198, 59);
}
.complete-btn:hover {background: green;}
.trash-btn:hover {background: #f64514;}

.todo-item {padding: 0rem 0.5rem;}

.clicked {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Form update styling */
.form-update {
    /* margin: 0.5rem; */
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    width: 100%;
}
.form-update input {
    flex: 1;
}

.input-update {
    border: none;
    /* height: 100%; */
    padding: 0.5rem;
    font-size: 1.5rem;
    background: white;
    margin-right: 0.5rem;
}
.div-form {
    padding: 0.5rem;
    background: lightgray;
}
.cancel-update-btn, .save-update-btn {
    background: #ff9a7e;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.save-update-btn {
    background: rgb(124, 232, 124);
}
.save-update-btn:hover {background: rgb(101, 199, 101);}
.cancel-update-btn:hover {background: #ff6f47;}